@import './vars';

// Section del Mapa
.mapa {
    position: relative;
}

.bigMap {
    iframe {
        height: calc(80vh - 100px);
        width: 100%;
    }

    border: none;
}

.cardMap {
    background: #ececec;
    text-align: center;
    // border: 1px solid gray;
    display: none;
    grid-gap: 10px;
    width: 350px;
    padding: 20px;
    box-shadow: 2px 2px 5px #d7d6d6;
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);

    @media screen and (max-width: 900px) {
        position: relative;
        transform: unset;
        width: 100%;
        left: unset;
        bottom: unset;
        border: none;
        box-shadow: none;
        margin: 20px 0;
        background: white;
    }
}

.cardMap_icono {
    h2 {
        color: $color_terciario;
        font-size: 23px;
    }

    p {
        color: $color_principal;
        font-size: 19px;
    }

    a {
        color: $color_principal;
        font-size: 19px;
        text-decoration: none;
    }

    a:hover {
        color: $color_principal;
    }

    svg {
        width: 40px;
        fill: $color_terciario;
    }
}