@import './vars';

.politicas {
    display: flex;
    gap: 20px;
    margin: 70px 0;
}

.politicas_title {
    text-align: center;
    color: $color_principal;
    font-size: 30px;
}

.politicas_spacing {
    display: grid;
    gap: 20px;
}