@import './vars';

.politicas {
    display: grid;
    gap: 20px;
    margin: 70px 0;
}

.politicas_title {
    text-align: center;
    color: $color_principal;
    font-size: 30px;
}

.politicas_spacing {
    display: grid;
    gap: 20px;
}

.politicas_content {
    display: grid;
    gap: 10px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.politicas_content_subtitle {
    color: $color_principal;
}

.politicas_content_paragrah {

    span {
        color: red;
    }
}

.politicas_content_paragrah_box {
    display: grid;
    gap: 10px;
    letter-spacing: 0.5px;
    line-height: 24px;
    border: 1px solid black;
    padding: 10px;
}

.td {
    color: red;
}

.btn-custom-cookie {
    background: $color_principal;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    cursor: pointer;
    margin: auto;
}