// desktop 
$desktop_1260: 1260px;
$desktop_1150: 1150px;


// Paleta de colores
// $color_principal: #414472;
$color_principal: #2b2c6b;
$color_secundario: #00f7fc;
$color_terciario: #15d8d7;
$color_menu: #ececec;

$color_principal_footer: #1c1c4c;
$color_secundario_footer: #262d66;
$color_p_footer: #767cb6;